<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e5c4eebaf.js" crossorigin="anonymous"></script>
    $CSS
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"></link>
    <title>$title</title>
</head>

<header>

    <div class="header-container">
        <div class="main-box">
            <div id="logo-container">
                <div id="logo-container"><img id="logo" src="/assets/images/Node-js-Logo-1.png"></img>
                <h1>Nodejs</h1>
                </div>
            </div>   
        </div>
        <div id="social-media">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
        </div>
        <div id="login">
            <button id="loginbutton">login</button>
        </div>
    </div>
</header>

<nav class="sidebar">
    <button>hej</button>
    <button>hej</button>

</nav>

<main class="main">
