<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e5c4eebaf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    $CSS
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"></link>
    <title>$title</title>
</head>

<body>
    <div class="container-side-main">
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Mandatory 1</h3>
                </div>
        
                <ul class="list-unstyled components">
                    <p>NODEJS THEORY</p>
                    <li>
                        <a href="/" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Nodejs</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li class="active">
                                <a href="/intro-nodejs">Introduktion to NodeJs</a>
                            </li>
                            <li>
                                <a href="/run-nodemon">How to run - Nodemon</a>
                            </li>
                            <li>
                                <a href="/clean-code-setup">Clean Code and Setup</a>
                            </li>
                            <li>
                                <a href="/github">github tutorial</a>
                            </li>
                            <li>
                                <a href="/npm">Node package manager</a>
                            </li>
                            <li>
                                <a href="/express-modules">Modules and Express</a>
                            </li>
                            <li>
                                <a href="/json-redirect">Json and Redirect</a>
                            </li>
                            <li>
                                <a href="/ecma-versus-js">ECMA script JS common</a>
                            </li>
                            <li>
                                <a href="/crud">Create, Read, Update, Cancel(CRUD)</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Javacript</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="/basic-js">DataTypes</a>
                            </li>
                            <li>
                                <a href="#">Fetch</a>
                            </li>
                            <li>
                                <a href="#">Loops and Loop-methods</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/">About</a>
                    </li>
                </ul>
                <ul class="list-unstyled CTAs">
                    <li>
                        <button class="btn btn-dark"><a href="/login">Login</a></button>
                    </li>
                </ul>
            </nav>
        </div>
        
        <script src="../../assets/js/main.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js"></script>
    <main>

    

    

