*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'sidebar main main main main'
    'sidebar footer footer footer footer';
    max-width: 100vw;
}

.header-container { grid-area: header; }
.sidebar { grid-area: sidebar; }
.footer { grid-area: footer; }
.main { grid-area: main; }

#header-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 15vh;
    padding: 1%;
}

.main-box{
    width: 70vw;
    display: flex;
    flex-direction: row;
    background-color: blue;
}

#logo-container{
    display: flex;
    flex-direction: row;
    padding-right: 2%;

}

#logo{
    max-width: 10em;
}

h1{
    font-size: 50px;
}

#social-media{
    width: 15vw;
    background-color: blueviolet;
}

#login{
    width: 15vw;
    background-color: bisque;
}

.main{
    height: 70vh;
    width: 80vw;
}

.footer{
    height: 10vh;
}



